.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/870x489_fac.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 866px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 760px;
  margin: 347px auto 0;
}

.u-section-1-1 .u-text-2 {
  width: 760px;
  margin: 63px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 714px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-1-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25;
    width: 540px;
  }

  .u-section-1-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1-1 .u-text-2 {
    width: 340px;
  }
}.u-block-f9cb-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-f9cb-3 {
  position: absolute;
  left: 0;
}

.u-block-f9cb-4 {
  position: absolute;
  right: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 677px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 21px 230px 0;
}

.u-section-2 .u-map-1 {
  height: 532px;
  margin-top: 30px;
  margin-bottom: 55px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 680px;
    margin-left: 130px;
    margin-right: 130px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1138px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 16px auto 0;
}

.u-section-3 .u-custom-html-1 {
  margin-top: 16px;
  margin-bottom: 60px;
  min-height: 634px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-custom-html-1 {
    height: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 612px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 492px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/remi.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 30px auto 0;
}

.u-section-4 .u-text-1 {
  margin: 9px auto -4px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin: 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 406px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 419px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-5 .u-list-1 {
  min-height: 352px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-template-rows: auto;
  margin: 12px auto 0 0;
}

.u-section-5 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 12px 1px 0 0;
}

.u-section-5 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 30px auto 0;
}

.u-section-5 .u-text-5 {
  margin: 12px 1px 0 0;
}

.u-section-5 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-6 {
  margin: 30px auto 0;
}

.u-section-5 .u-text-7 {
  margin: 12px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-5 .u-list-1 {
    min-height: 290px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-5 .u-list-1 {
    min-height: 666px;
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-6 {
  background-image: none;
  min-height: 100vh;
}

.u-section-6 .u-layout-wrap-1 {
  pointer-events: auto;
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 70px 0 53px auto;
}

.u-section-6 .u-image-1 {
  min-height: 693px;
  pointer-events: auto;
  background-image: url("images/world-1303628_1280.webp");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-image-2 {
  min-height: 322px;
  pointer-events: auto;
  background-image: url("images/carte.webp");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 370px;
  pointer-events: auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  margin: 15px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-6 .u-image-1 {
    min-height: 571px;
  }

  .u-section-6 .u-image-2 {
    min-height: 266px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 305px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-6 .u-image-1 {
    min-height: 875px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-2 {
    min-height: 407px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-6 .u-image-1 {
    min-height: 656px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 305px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-6 .u-image-1 {
    min-height: 413px;
  }

  .u-section-6 .u-image-2 {
    min-height: 192px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 519px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 25px auto 0;
}

.u-section-7 .u-list-1 {
  min-height: 328px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-gap: 10px 10px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-7 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  padding: 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-7 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-3 {
  padding: 0;
}

.u-section-7 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-7 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-icon-3 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-5 {
  padding: 0;
}

.u-section-7 .u-btn-6 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-7 .u-shape-1 {
  width: 125px;
  height: 69px;
  margin: -276px auto 0 310px;
}

.u-section-7 .u-shape-2 {
  width: 125px;
  height: 69px;
  margin: -69px 312px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -36px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 81px;
  }

  .u-section-7 .u-list-1 {
    min-height: 270px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 367px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -322px;
  }

  .u-section-7 .u-list-1 {
    min-height: 620px;
    grid-template-columns: calc(((100% - 720px) / 2) + 355px) calc(((100% - 720px) / 2) + 355px);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-2 {
    margin-top: -365px;
  }

  .u-section-7 .u-list-1 {
    grid-template-columns: calc(((100% - 540px) / 2) + 265px) calc(((100% - 540px) / 2) + 265px);
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-top: 455px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -539px;
  }

  .u-section-7 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-shape-1 {
    margin-left: 215px;
  }

  .u-section-7 .u-shape-2 {
    margin-right: 215px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 534px;
}

.u-section-8 .u-text-1 {
  width: 680px;
  font-size: 2.25rem;
  margin: 54px auto 0;
}

.u-section-8 .u-text-2 {
  line-height: 1.8;
  margin: 38px 30px 0;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  background-image: none;
  margin: 23px auto 0 -3px;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -8px 0 1px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-2 {
    width: 680px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .u-section-8 .u-btn-1 {
    margin-bottom: 39px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }
}